<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="theme" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!--    <link id="theme-style" rel="stylesheet" th:href="@{/assets/css/theme-1.css}">-->
    <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/js/validate.min.js}"></script>
    <style>
        .col-6{
            padding: 5px;
        }
        .col-4{
            padding: 5px;
        }
        .col-12{
            padding: 5px;
        }
        .row{
            height: 80px;
            padding-left: 3px;
            padding-right: 3px;
        }
        #button{
            width: 100%;
            margin-top: 10px;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-lg-5 border rounded shadow p-4 mt-3" id="formRegister" th:action="@{/register}" method="post">
            <span th:if="${err=='err'}">
                <div class="alert alert-danger" role="alert">
                    This is a danger alert—check it out!
                </div>
            </span>
            <img src="assets/images/logo.jpg" class="rounded-circle mx-auto d-block mb-3" alt="...">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" name="firstName" maxlength="50" minlength="2" th:value="${customer.firstName}" required class="form-control" id="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="lastName" maxlength="50" minlength="2" th:value="${customer.lastName}" required class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input th:value="${customer.username}" type="text" required name="username" maxlength="100" class="form-control" id="username" placeholder="Username">
                        <label th:if="${username=='err'}"  for="email" class="error">Username đã được sử dụng.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:value="${customer.email}" type="email" required name="email" maxlength="100" class="form-control" id="email" placeholder="Email">
                        <label th:if="${email=='err'}"  for="email" class="error">Email đã được sử dụng.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="password">Email</label>
                        <input type="password" name="password" class="form-control" maxlength="255" minlength="8" required id="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="day">Day</label>
                        <select id="day" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="day">Month</label>
                        <select id="month" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="year">Years</label>
                        <input type="text" name="year" class="form-control" id="year" placeholder="Years">
                    </div>
                </div>
            </div>
            <div class="form-check mb-3 pl-0">
                <a href="/login">Đã có tài khoản, đăng nhập tại đây</a>
            </div>
            <button type="submit" id="button" class="btn btn-primary mt-0">Register</button>
        </form>
    </div>
</div>
</body>
<script>
    $('#formRegister').validate({
        rule: {
            firstName: {
                required: true,
                minlength: 2,
                maxlength: 50
            },
            lastName: {
                required: true,
                minlength: 2,
                maxlength: 50
            },
            username: {
                required: true,
                minlength: 2,
                maxlength: 50
            },
            email: {
                email: true,
                maxlength: 50
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 50
            }
        }
    })
</script>
</html>
